#button-container {
    border: 2px solid red;
    width: 70%;
    height: 70%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row-reverse;

    
}

#right-btn-container {
    border: 2px solid red;
    width: 20%;
    height: 100%;
}

.btn-li {
    border: 1px solid orange;
    width: 100%;

}



#left-btn-list,
#right-btn-list {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

#left-btn-list .btn-li:first-of-type,
#right-btn-list .btn-li {
    height: 13%;
}

/* Style right buttons */
#right-btn-list .btn-li:last-of-type {
    height: 37%;
}

 #right-btn-list .btn-li button {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 2rem;
 }

 /* Style left buttons */
#left-btn-container {
    border: 2px solid red;
    width: 80%;
}

#left-btn-list .btn-li:first-of-type {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#left-btn-list .btn-li:first-of-type button {
    flex-grow: 1;
}

#number-grid {
    width: 100%;
    height: 63%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#left-btn-list .btn-li:last-of-type {
    height: 13%;
    display: flex;
    flex-flow: row nowrap;
}

#left-btn-list .btn-li:last-of-type button:first-of-type {
    flex-grow: 1;
}

#left-btn-list .btn-li:last-of-type button:last-of-type {
    flex-grow: 1;
}




