* {
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(rgb(36, 171, 249), rgb(86, 189, 248)  80%);
    margin-bottom: 1rem;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
}

main {
    border: 1px solid red;
    width: 35%;
    height: 75vh;
    text-align: center;
    margin: 4rem auto;
}

#screen-container {
    margin: 1rem auto;
    
}

#screen-container input {
    font-size: 1.5rem;
    padding: 0.35rem;
    border: 1px solid black;
    border-radius: 4px;
}

#screen-container input:focus {
    outline: none;
}